.login {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    background-color: #f7f7f7;
    z-index: 1;
    &::before {
        content: "";
        background: url(../../assets/img/backgroundLDP.svg) no-repeat center;
        inset: 0;
        position: absolute;
        background-size: cover;
        opacity: 0.04;
        z-index: -1;
    }

    &__logo {
        width: 135px;
    }

    &__title {
        color: #333;
        font-size: 24px;
        font-weight: 700;
        line-height: 30.8571px;
    }

    &__desc {
        margin-top: 17px;
        color: #686f7a;
        font-size: 14px;
        line-height: 26px;
    }
    &__cta {
        display: flex;
        margin-top: 47px;
        flex-direction: column;
        gap: 15px;
    }
    &__button {
        padding: 10px 148px;
        border: none;
        outline: none;
        font-size: 14px;
        color: #fff;
        background-color: #3b5998;
        border-radius: 3px;
        line-height: 16.1px;

        &:hover {
            cursor: pointer;
        }
    }
    &__button:nth-child(2) {
        background-color: #1da1f2;
    }
    &__button:nth-child(3) {
        background-color: #34a853;
    }
    &__signin {
        margin-top: 31px;
        background-color: #ed2a26;
        width: 479px;

        &:hover {
            background-color: #333;
        }

        &:disabled {
            background-color: #ddd;
            color: #afafaf;
            cursor: no-drop;
        }
    }
    &__form {
        display: flex;
        // align-items: center;
        justify-content: space-between;

        width: 479px;
        height: 40px;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        padding: 9.5px 20px;
        margin-bottom: 15px;
        transition: all 0.2s;

        &-input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            padding: 0 20px;
            font-size: 14px;

            &::placeholder {
                color: #c9c9c9;
            }
        }
        &:focus-within {
            border-color: #333;

            .faEnvelope,
            .faKey {
                color: #333;
            }

            .login__form-input::placeholder {
                color: #999494;
            }
        }
    }
    &__remember {
        margin-top: 30px;
        display: flex;
        align-items: center;

        & label {
            position: relative;
            display: flex;
            align-items: center;
            user-select: none;
        }

        & label::before,
        & label::after {
            content: "";
            display: inline-block;
            margin-right: 7px;
        }

        & label::before {
            width: 17px;
            height: 17px;
            border-radius: 50%;
            border: 1px solid #e5e5e5;
        }
        & [type="checkbox"] {
            display: none;

            &:checked + label::before {
                border-color: #ed2a26;
            }
            &:checked + label::after {
                position: absolute;
                top: 8px;
                left: 4px;
                width: 8px;
                height: 5px;
                border-left: 3px solid #ed2a26;
                border-bottom: 3px solid #ed2a26;
                rotate: -45deg;
            }
        }
    }
    &__signup,
    &__forgotPass {
        margin-top: 51px;
        color: #686f7a;
        font-size: 14px;

        .aaaa {
            text-decoration: none;
        }

        & a {
            color: red;
            text-decoration: none;

            &:hover {
                color: #333;
                text-decoration: underline;
            }
        }
    }
    &__line {
        margin-top: 36px;
        width: 479px;
        height: 1px;
        background-color: #e5e5e5;
    }
    &__signup {
        margin-top: 30px;
        & a {
            margin-left: 3px;
        }
    }
    &__footer {
        display: flex;
        align-items: center;
        margin-top: 57px;

        &-content {
            margin: 0;
        }
    }
}
