.about_profile {
  background-color: #f7f7f7;
}

.about_title_text {
  font-size: 20px;
  padding-top: 15px;
  margin: 0px 0px 15px;
  color: #333;
}
.about_profile_me {
  padding: 0;
}
.about_text {
  color: #686f7a;
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 22px;
}
