.header {
  position: fixed;
  padding: 0;
  left: 0;
  width: 100%;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 5px 15px -9px rgba(0, 0, 0, 0.1);
  color: #000;
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 20px;
  justify-content: space-between;
  top: 0;
  z-index: 1000;

  .header-left,
  .header-right {
    display: flex;
    align-items: center;
  }

  .header-left {
    .menu-button {
      width: 60px;
      height: 60px;
      background-color: #ed2a26;
      border: none;
      color: #fff;
      cursor: pointer;
      border-radius: 3px 0 0 3px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: darkred;
      }
    }

    .logo-container {
      margin-left: 20px;

      .logo {
        width: 100%;
        height: 32px;
        width: 135px;
        max-width: 100%;
        image-rendering: auto;
      }
    }
  }

  .header-center {
    display: flex;
    align-items: center;
    margin-left: -208px;
    .header2-search-container {
      position: relative;
      margin-left: 30px;
      .search-input {
        width: 350px;
        height: 33px;
        border-radius: 3px;
        color: #333;
        font-family: Roboto, sans-serif;
        font-size: 13px;
        line-height: 15.7857px;
        padding: 9px 13px 9px 42px;
        text-align: left;
        border: none;
        box-sizing: border-box;
        position: relative;

        &::placeholder {
          filter: invert(1);
        }

        &:focus::placeholder {
          color: #959595;
        }

        &:focus {
          outline: none;
          color: #959595;
          background-color: #fff;

          & + .search-icon {
            filter: brightness(8) invert(1);
          }
        }
      }

      .search-icon {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        pointer-events: none;
        width: 15px;
        height: 15px;
        margin-left: 10px;
        filter: brightness(0);
      }
    }
  }

  .header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 14px;

    .create-button {
      width: 145px;
      height: 35px;
      margin-left: 20px;
      background-color: #ed2a26;
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;

      &:hover {
        background-color: rgb(34, 34, 34);
        border: 2px solid #351769;
      }

      &.dark-theme-hover:hover {
        background-color: darkred;
        border: none;
      }
    }

    .user-profile {
      display: flex;
      align-items: center;

      .icon-container {
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 10px;
        cursor: pointer;

        img {
          vertical-align: middle;
          width: 20px;
          height: 20px;
          margin-left: 18px;
        }
        .icon-user {
          width: 36px;
          height: 36px;
          border-color: #fff;
          border-radius: 50%;
          border-style: solid;
          border-width: 1.6px;
          box-shadow: #0000001a 0px 2px 2px 0px;
          color: #000000de;
          display: inline;
          font-size: 14px;
          line-height: 20x;
          margin-right: 10px;
          text-align: left;
        }
        .header-badge {
          position: absolute;
          top: -8px;
          right: -8px;
          background-color: #ed2a26;
          color: #fff;
          font-size: 11px;
          font-weight: 500;
          text-align: center;
          border-radius: 100%;
          width: 16px;
          height: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .item-message {
        display: flex;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
        padding: 10px;

        .avatar-message {
          width: 40px;
          height: 40px;
          border: 2px solid #fff;
          border-radius: 100%;
          margin-right: 20px;
        }

        .message-content {
          display: flex;
          flex-direction: column;
          flex: 1;
        }
        .dropItemText,
        .li {
          color: #ddd;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .header-center {
      display: none;
    }

    .header-left,
    .header-right {
      display: flex;
    }
  }
}
