.AccountTab {
    background-color: #f7f7f7;
    width: 57vw;

    .AllTabButton_SettingPage {
        display: flex;
        gap: 10px;

        .AllTabButton_SettingPage_AccountTab {
            border: none;
            height: 35px;
            padding: 0 15px;
            color: #fff;
            border-radius: 3px;
            font-weight: 500;
            background: #ed2a26;
        }

        .AllTabButton_SettingPage_Rest {
            border: none;
            height: 35px;
            padding: 0 15px;
            color: #333;
            border-radius: 3px;
            font-weight: 500;
            background: #f7f7f7;
        }
    }

    .AccountTab_Contents {
        margin-top: 40px;

        .AccountTab_Contents_Title_H4 {
            font-size: 18px;
            font-weight: 500;
            color: #333;
        }

        .AccountTab_Contents_ContentOfH4_P {
            margin-top: 20px;
            font-size: 14px;
            font-weight: 400;
            color: #686f7a;
        }

        .AccountTab_Contents_Profile_H4 {
            margin-top: 40px;
            font-size: 16px;
            font-weight: 500;
            color: #333;
        }

        .AccountTab_Contents_Profile_P {
            margin-top: 15px;
            font-size: 14px;
            font-weight: 400;
            color: #686f7a;
        }

        .AccountTab_Contents_InputName {
            margin-top: 35px;
            gap: 20px;

            .AccountTab_Contents_InputName_FirstName {
                border-radius: 3px;
            }
            .AccountTab_Contents_InputName_FirstName:hover {
                border: 1.5px solid #e5e5e5;
            }
            .AccountTab_Contents_InputName_FirstName:focus-within {
                border: 1.5px solid #333;
                box-shadow: none;
            }

            .AccountTab_Contents_InputName_LastName {
                border-radius: 3px;
            }
            .AccountTab_Contents_InputName_LastName:hover {
                border: 1.5px solid #e5e5e5;
            }
            .AccountTab_Contents_InputName_LastName:focus-within {
                border: 1.5px solid #333;
                box-shadow: none;
            }
        }

        .AccountTab_Contents_Headline {
            margin-top: 30px;
            position: relative;

            .AccountTab_Contents_InputHeadline_Headline {
                border-radius: 3px;
            }
            .AccountTab_Contents_InputHeadline_Headline:hover {
                border: 1.5px solid #e5e5e5;
            }
            .AccountTab_Contents_InputHeadline_Headline:focus-within {
                border: 1.5px solid #333;
                box-shadow: none;
            }

            .AccountTab_Contents_Headline_36 {
                position: absolute;
                padding: 3px 8px;
                background-color: #dedfe0;
                border-radius: 3px;
                bottom: 2.5px;
                right: 4px;
            }
        }

        .AccountTab_Contents_SPAN {
            margin-top: 5px;
            font-size: 13px;
            color: #686f7a;
        }

        .AccountTab_Contents_TextArea {
            // margin-top: 30px;
            border-radius: 3px;
        }
        .AccountTab_Contents_TextArea:hover {
            border: 1.5px solid #e5e5e5;
        }
        .AccountTab_Contents_TextArea:focus-within {
            border: 1.5px solid #333;
            box-shadow: none;
        }

        .AccountTab_Contents_Line {
            margin-top: 40px;
            border-bottom: 1px solid #e5e5e5;
            margin-bottom: 40px;
        }

        .AccountTab_Contents_ProfileLink_H4 {
            font-size: 16px;
            font-weight: 500;
            color: #333;
        }

        .AccountTab_Contents_SpaceCompact {
            margin-top: 35px;
            height: 40px;
            width: 100%;

            .ant-input.css-dev-only-do-not-override-m4timi.ant-input-outlined.ant-input-compact-item.ant-input-compact-last-item {
                border-radius: 3px;
            }
            .ant-input.css-dev-only-do-not-override-m4timi.ant-input-outlined.ant-input-compact-item.ant-input-compact-last-item:hover {
                border: 1.5px solid #e5e5e5;
            }
            .ant-input.css-dev-only-do-not-override-m4timi.ant-input-outlined.ant-input-compact-item.ant-input-compact-last-item:focus-within {
                border: 1.5px solid #333;
                box-shadow: none;
            }
        }

        .AccountTab_Contents_button {
            border: none;
            height: 40px;
            padding: 0 20px;
            margin-top: 45px;
            margin-bottom: 20px;
            color: #fff;
            border-radius: 3px;
            font-weight: 500;
            background: #ed2a26;
        }
        .AccountTab_Contents_button:hover {
            background: #333;
        }
    }
}
