
.apply_instructor_btn {
    display: inline-block;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background: #ed2a26;
    padding: 10px 30px;
    border-radius: 3px;
    margin-top: 14px;
}