.noti-title100 {
    font-size: 20px;
    margin-top: 0 !important;
    margin-bottom: 8px !important;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: #333;
    margin-left: 20px;

    img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
}
.wrapper12.active {
    transition: margin-left 0.5s ease;
    .sa4d25_sa {
        margin-left: 60px;
    }
}
.ver-sec {
    justify-content: center;
}

.ver-cont {
    text-align: center;
    margin-top: 30px;

    img {
        width: 200px;
    }

    h4 {
        font-size: 24px;
        font-weight: 600;
        font-family: "Roboto", sans-serif;
        text-align: center;
        color: #333;
        margin-top: 40px !important;
        margin-bottom: 24px !important;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        font-family: "Roboto", sans-serif;
        text-align: center;
        color: #686f7a;
        line-height: 26px;
        margin-bottom: 0;
    }
}

.ver-alert {
    background: #fff;
    border: 1px solid #efefef;
    border-radius: 3px;
    margin-top: 30px;

    li {
        display: inline-block;
        width: 50%;
        margin-left: -2px;
        border-right: 1px solid #efefef;
        border-bottom: 0;
    }
}

.req_group {
    display: flex;
    padding: 20px;
    align-items: center;
}

.dash_thingy img {
    width: 30px;
    height: 30px;
}

.edututs_required span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: left;
}

.verify_text {
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: #686f7a;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 0;

    img {
        width: 25px;
        height: 25px;
        // margin-right: 10px;
    }
}

.form_ver {
    background: #fff;
    border: 1px solid #efefef;
    border-radius: 3px;
    padding: 0 30px 30px;
    margin-top: 50px;
    margin-bottom: 30px;

    h4 {
        font-size: 24px;
        font-weight: 600;
        font-family: "Roboto", sans-serif;
        text-align: center;
        color: #333;
        margin-top: 40px !important;
        margin-bottom: 24px !important;
    }
}

.random_title {
    margin-top: 50px;
    position: relative;

    label {
        font-size: 14px;
        font-weight: 500;
        font-family: "Roboto", sans-serif;
        margin-bottom: 10px !important;
        color: #333;
        text-align: left;
        display: block;
    }
}

.input_tab_box {
    position: relative;
    font-weight: 400;
    font-style: normal;
    display: inline-flex;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px !important;
    width: 100%;

    input {
        padding-left: 1em !important;
        padding-right: 2em !important;
        height: 40px !important;
        font-size: 14px;
        font-weight: 400;
        font-family: "Roboto", sans-serif;
        border-radius: 3px !important;
        flex: 1 0 auto;
        border: 1px solid rgba(34, 36, 38, 0.15);
    }
}

.random_doc {
    margin-top: 30px;

    label {
        font-size: 14px;
        font-weight: 500;
        font-family: "Roboto", sans-serif;
        margin-bottom: 10px !important;
        color: #333;
        text-align: left;
        display: block;
    }
}

.inputGroup {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.customFile {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
    background: #f7f7f7;
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 1.3rem 2rem;
    font-weight: 100;
    line-height: 0;
    color: #686f7a;
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 3px;
    margin-bottom: 0;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.02) !important;
}

.verify_submit_btn {
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: #fff;
    background: #ed2a26;
    padding: 0px 30px;
    border-radius: 3px;
    border: 0;
    height: 40px;
    margin-top: 45px;
    width: 100%;

    &:hover {
        background: black;
    }
}
