.add_lecture_basic {
    padding: 29px 14px 0;

    .add_lecture_basic-desc,
    .add_lecture_basic-title {
        font-size: 14px;
        font-weight: 500;
        font-family: "Roboto", sans-serif;
        margin-bottom: 10px;
        color: #333;
    }

    .add_lecture_basic-input {
        font-size: 14px;
        font-weight: 400;
        width: 100%;
        border: 1px solid #efefef;
        height: 40px;
        padding: 0 16px;
        background: #fff;
        border-radius: 3px;
        box-shadow: inset 0px 1px 4px rgb(0 0 0 / 2%);
        outline: none;
    }

    .add_lecture_basic-bot {
        margin-top: 30px;
    }
    .add_lecture_basic-switch {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 60px;
    }
}

.add_lecture_basic-btn-wrap {
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: flex-end;
    margin-top: 28px;
    padding-top: 15px;
    border-top: 1px solid #dee2e6;
}

.add_lecture_basic-btn {
    height: 40px;
    padding: 0 20px;
    font-size: 14px;
    color: #fff;
    border: 0;
    background: #ed2a26;
    border-radius: 3px;
    font-weight: 500;

    &.close {
        color: #91699c;
        background: #f3f3f3;
    }
}

.ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
    background: #ed2a26;
}
