.course_detail {
    margin-top: 60px;
    margin-left: 240px;

    transition: margin-left 0.5s ease;

    &.active {
        margin-left: 0;

        .course_detail-video {
            position: relative;
            background: #fff;
            // padding: 10px;
            border: 10px solid #fff;
            border-radius: 3px;
            .video {
                width: 473px;
                height: 275px;
                object-fit: cover;
                border-radius: 3px;
            }
        }
    }

    &-hero {
        display: flex;
        background-color: #333;
        padding: 30px;

        &-media {
            margin-right: 21px;
        }

        .course_detail-video {
            position: relative;
            background: #fff;
            // padding: 10px;
            border: 10px solid #fff;
            border-radius: 3px;

            .video {
                width: 373px;
                height: 210px;
                object-fit: cover;
                border-radius: 3px;
                transition: width 0.5s ease;
                transition: height 0.5s ease;
            }

            &-overlay {
                position: absolute;
                top: 0;
                padding: 10px;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: linear-gradient(
                    transparent,
                    rgba(51, 51, 51, 0.3) 90%
                );
            }

            &-seller {
                border-radius: 3px;
                font-size: 10px;
                position: absolute;
                padding: 2px 10px;
                background: #fa8305;
                border: none;
                color: #fff;
                font-weight: 600;
                line-height: 1.5;
                right: 0;
                text-align: center;
                text-transform: uppercase;
                top: 10px;
                z-index: 2;
                vertical-align: baseline;
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
                box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
                    0 3px 1px 0 rgba(20, 23, 28, 0.1);

                &::after {
                    background: inherit;
                    content: "";
                    height: 12px;
                    position: absolute;
                    top: 3px;
                    transform: rotate(45deg);
                    width: 12px;
                    z-index: 1;
                    display: block;
                    left: -5px;
                    border-bottom-left-radius: 2px;
                    border-top-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                }
            }

            &-preview {
                position: absolute;
                text-align: center;
                bottom: 0;
                color: #fff;
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-size: 14px;
                background: rgba(51, 51, 51, 0.9);
                left: 0;
                right: 0;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                padding: 10px 0;
            }

            &-play {
                border: 0;
                width: 50px;
                height: 50px;
                float: left;
                text-align: center;
                border-radius: 100%;
                padding: 15px 13px;
                font-size: 20px;
                color: #fff;
                position: absolute;
                top: 40%;
                right: 40%;
                opacity: 0;
                background: rgba(51, 51, 51, 0.8);
                transition: opacity 0.5s ease;

                &::before {
                    position: absolute;
                    content: url(../../assets/img/Saved_Courses/play-7-2.png);
                    top: 25%;
                    right: 32%;
                }
            }

            &:hover .course_detail-video-play {
                opacity: 1;
            }
        }

        &-content {
            &-title {
                font-size: 24px;
                font-weight: 600;
                color: #fff;
                margin-bottom: 15px;
            }

            &-desc {
                font-size: 14px;
                font-weight: 400;
                font-family: "Open Sans", sans-serif;
                color: #f7f7f7;
                line-height: 26px;
            }

            &-rating {
                display: flex;
                align-items: center;
                margin-top: 20px;
                .star {
                    display: inline-flex;
                    align-items: center;
                    color: #fff;
                    background: #fdcc0d;
                    padding: 3px 15px 3px 10px;
                    border-radius: 3px;
                    font-size: 14px;
                    font-weight: 500;

                    .starOutlined {
                        width: 13px;
                        margin-right: 5px;
                    }
                }

                .ratings {
                    color: #fff;
                    font-size: 14px;
                    font-weight: 400;
                    margin-left: 3px;
                }
            }

            .student_quantity {
                margin-top: 20px;
                color: #fff;
                font-size: 14px;
                font-weight: 400;
            }
            .subject {
                margin-top: 15px;
                display: flex;
                align-items: center;
                gap: 20px;
                color: #fff;
                font-size: 14px;
                font-weight: 400;

                .english_icon,
                .more_icon {
                    margin-right: 5px;
                }
            }
            .date {
                margin-top: 20px;
                color: #fff;
                font-size: 14px;
                font-weight: 400;
            }

            .course_detail-hero-content-cta {
                margin-top: 27px;
                .addToCart {
                    height: 40px;
                    border: 0;
                    padding: 0 20px;
                    border-radius: 3px;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 500;
                    background: #ed2a26;
                    border: 1px solid #ed2a26;
                    margin-right: 6px;

                    &:hover {
                        opacity: 0.9;
                    }
                }
                .buyNow {
                    height: 40px;
                    border: 0;
                    padding: 0 25px;
                    border-radius: 3px;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 500;
                    background: transparent;
                    border: 1px solid #fff;

                    &:hover {
                        background: #c72127;
                        border-color: #c72127;
                    }
                }
            }
            .course_detail-hero-content-end {
                margin-top: 10px;
                color: #fff;
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
    &-emotion {
        display: flex;
        align-items: center;
        margin-top: 30px;

        &-like {
            display: flex;
            align-items: center;
            color: #fff;
            margin-right: 30px;
            font-size: 14px;

            .heart {
                margin-right: 10px;
                width: 14px;
            }
        }

        &-report {
            display: flex;
            align-items: center;
            color: #fff;
            font-size: 14px;

            .flag {
                margin-right: 10px;
            }
        }
    }

    &-toolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 30px 0 30px;
        height: 60px;
        .course_detail-info {
            display: flex;
            .avatar {
                width: 50px;
                height: 50px;
                border-radius: 100%;
                margin-right: 15px;
                border: 2px solid #fff;
                box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
            }

            .info_name {
                font-size: 16px;
                font-weight: 500;
                color: #333;
                margin-bottom: 10px;
            }

            .info_btn {
                border: 0;
                background: #ed2a26;
                padding: 0 20px;
                height: 30px;
                border-radius: 3px;
                color: #fff;
                font-weight: 500;
                font-family: "Roboto", sans-serif;
                font-size: 14px;
            }
        }

        .course_detail-follow {
            display: flex;
            align-items: center;
            column-gap: 4px;

            .course_detail-followers {
                width: 63px;
                height: 60px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 1px solid #efefef;
                padding: 8px 15px;
                color: #686f7a;
                font-size: 14px;
                font-weight: 500;
            }

            .followers_icon {
                color: #686f7a;
                margin-bottom: 3px;
                font-weight: 500;
            }
        }
    }

    &-main {
        margin-top: 30px;
        display: flex;
        justify-content: center;

        &-link {
            display: flex;
            align-items: center;

            a {
                padding: 7px 21px;
                color: #333;
                font-size: 14px;
                font-weight: 500;
            }

            a.active {
                border-bottom: 2px solid #ed2a26;
            }
        }
    }
}
