//index.scss
.instructor-container {
  margin-top: 60px;
  overflow-x: hidden;
  transition: all 0.3s ease;

  &.active {
    margin-left: -20.5%;
    .course_card {
      width: 339px;
      height: 374px;
    }
    .subscriptions-grid {
      margin-left: 20px;
    }
    .subscription_details {
      width: 317px;
      height: 147px;
      margin-left: 10px;
    }
  }
}
//instructor profile
.profile {
  background: #333;
  padding: 30px 30px;
}

.profile {
  background: #333;
  padding: 30px 30px;
}

.user_infor {
  display: flex;
  align-items: center;
  margin-left: 7px;
}

.userInfo_avatar {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.userInfor_instructor {
  margin-left: 20px;
  text-align: left;
}
.userInfor_instructor h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  margin: -20px 0px 10px;
}

.userInfor_instructor span {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.userInfor_join {
  margin-top: 10px;
  border: 1px solid #4f4848;
  margin-left: 7px;
  ol,
  ul,
  dl {
    margin-bottom: 0;
    a {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
    }
    a:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
  ol,
  ul {
    padding-left: 0;
  }
}

.userInfor_join li {
  display: inline-block;
  width: 25%;
  padding: 15px 10px;
  border-right: 1px solid #4f4848;
  font-size: 14px;
}

.userInfor_join li:last-child {
  border-right: 0;
}
.userInfor_join_group {
  text-align: center;
  width: 100%;
  color: #fff;
  font-weight: 400;
}
.userInfor_join_parameter {
  margin: 10px 0px 0px;
}
.profile_right {
  padding: 0px 10.5px;
}
.profile_setting {
  margin-top: 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  display: block;
  text-align: right;
  position: relative;
  text-decoration: none;
}

.profile_setting span {
  margin-right: 5px;
}

.profile_setting:hover {
  color: #fafafa;
}
.setting_icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.profile_connect {
  text-align: right;
  margin-top: 55px;
  margin-bottom: 30px;
}
.tutor_social_links li {
  margin: -58px -1px 0px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}

.tutor_social_links li:last-child {
  margin-right: 0;
}

.tutor_social_links li a {
  font-size: 14px;
  float: left;
  width: 35px;
  height: 36px;
  border-radius: 3px;
  text-align: center;
  padding: 9px 0;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.tutor_social_links li a:hover {
  color: #fff;
  transform: scale(1.1);
}
.profile_button_right {
  text-align: right;
  list-style: none;
  margin: -20px 0px 40px;
}
.profile_button_right li {
  display: inline-block;
}
.studio_link_btn {
  background-color: #ed2a26;
  border: none;
  color: #fff;
}
.fb {
  background: #3b5998;
}

.tw {
  background: #1da1f2;
}

.ln {
  background: #8d6cab;
}

.yu {
  background: #ff0000;
}
.btn_500 {
  height: 40px;
  padding: 0 30px;
  border-radius: 5px;
}
.studio_link_btn-edit {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 3px;
}

.course_tabs_container {
  float: left;
  width: 100%;
  padding: 30px 30px 0px;
  background: #fff;
}
//Tabs
.instructor_container_tabs {
  background-color: #f7f7f7;
}
.tab_crse .nav-tabs {
  border-bottom: 0;
}
.tab_crse .nav-link {
  border-top: 0;
  border-bottom: 2px solid transparent;
  border-left: 0;
  border-right: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #333;
  font-weight: 500;
  padding: 1rem 2rem 1rem 2.1rem;

  &.active {
    background-color: transparent;
    border-bottom: 2px solid #ed2a26;
  }
}
