.wrapper12 {
    margin-top: 60px;
    transition: all 0.3s ease-out;
    margin-left: 240px;
    background-color: #f8f8f8;
    transition: margin-left 0.5s ease;

    &.active {
        transition: margin-left 0.5s ease;
        margin-left: 0;
    }
}

a {
    text-decoration: none;
}

.section3125 {
    float: left;
    width: 80%;
}

.item_title {
    font-size: 18px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #333;
    text-align: left;
    float: left;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-top: 20px;
}

.see150 {
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: #afafaf;
    text-align: right;
    float: right;
    padding-top: 3px;
    margin-bottom: 20px;
    margin-right: 5px;
}

.la5lo1 {
    float: left;
    width: 100%;
    margin-left: 13px;
}

.owl-carousel {
    display: none;
    width: 97%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
    margin-left: 15px;
    margin-right: 10px;
}

.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    transform: translate3d(0px, 0px, 0px);
    transition: all 0s ease 0s;
    width: 1305px;
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    width: 131.542px;
    margin-right: 10px;
    // gap: 5px;
}

.stream_1 {
    width: 100%;
    border-radius: 3px;
    padding: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background: rgba(51, 1, 51, 0.1);
}

.stream_bg {
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 15px 10px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(30px);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.13);
}

.stream_bg img {
    width: 60px !important;
    height: 60px !important;
    border-radius: 100%;
    display: inline-block !important;
    border: 1px solid #fff;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.stream_bg h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.stream_bg p span {
    width: 6px;
    height: 6px;
    background: #ed2a26;
    position: absolute;
    z-index: 100;
    border-radius: 100%;
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    margin-top: 0px;
}

.live_stream .owl-nav .owl-prev {
    left: 0px;
    font-size: 20px !important;
    position: absolute;
    top: 40%;
    text-align: center;
    height: 30px !important;
    width: 30px !important;
    padding: 4px 0 !important;
    color: #333 !important;
    background: #fff !important;
    border-radius: 3px !important;
    border: 1px solid #e5e5e5 !important;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.07);
}

.la5lo1 .owl-theme .owl-nav .disabled {
    opacity: 0.4 !important;
    cursor: default;
}

.fcrse_1 {
    background: #fff;
    width: 100%;
    height: 350px;
    float: left;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #efefef;
    transition: all 0.2s ease-in-out;
}

.fcrse_img {
    width: 100%;
    float: left;
    position: relative;
}

.fcrse_img img {
    width: 100%;
    border-radius: 3px;
}

.badge_seller {
    border-radius: 3px;
    font-size: 10px;
    position: absolute;
    padding: 2px 10px;
    background: #fa8305;
    border: none;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    line-height: 1.5;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 10px;
    z-index: 2;
    vertical-align: baseline;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
        0 3px 1px 0 rgba(20, 23, 28, 0.1);
}

.crse_reviews {
    color: #fff;
    background: #fdcc0d;
    display: inline-block;
    padding: 3px 15px 3px 10px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    // margin-left: 2px;
}

.play_btn1 {
    border: 0;
    width: 50px;
    height: 50px;
    float: left;
    text-align: center;
    border-radius: 100%;
    padding: 15px 13px;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 40%;
    right: 40%;
    opacity: 0;
    background: rgba(51, 51, 51, 0.8);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.crse_timer {
    bottom: 0;
    position: absolute;
    margin-bottom: 10px;
    right: 0;
    margin-right: 10px;
    color: #fff;
    background: rgba(51, 51, 51, 0.8);
    display: inline-block;
    padding: 3px 10px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.fcrse_content {
    padding: 10px 5px;
    float: left;
    width: 100%;
    position: relative;
}

.eps_dots {
    position: absolute;
    right: 0;
}

.more_dropdown {
    display: inline-block;
}

.vdtodt {
    margin-bottom: 10px;
    font-size: 12px;
    margin-top: 5px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #686f7a;
    text-align: left;
    display: block;
}

.crse14s {
    display: block;
    font-size: 16px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: #333;
    text-align: left;
    margin-bottom: 7px;
    line-height: 24px;
}

.crse-cate {
    display: block;
    font-size: 13px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #686f7a;
    text-align: left;
    padding-top: 2px;
}

.auth1lnkprce {
    float: left;
    width: 100%;
    margin-top: 5px;
}

.cr1fot {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    float: left;
    color: #686f7a;
    text-align: left;
    line-height: 24px;
}

.prce142 {
    float: right;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: #333;
    text-align: right;
    margin-top: 5px;
}

.course-overlay {
    position: absolute;
    top: 0;
    padding: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(transparent, rgba(51, 51, 51, 0.3) 90%);
}

.crse_reviews img {
    margin-right: 2px;
}

.section3126 {
    float: left;
    width: 100%;
    margin-top: 50px;
}

.value_props {
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    flex: 1;
    float: left;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    margin-left: 25px;
}

.value_icon {
    float: left;
    width: 100%;
}

.value_content {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.value_content h4 {
    font-size: 18px;
    margin-bottom: 9px;
    display: block;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: #333;
    text-align: center;
}

.value_content p {
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-align: left;
    line-height: 26px;
    color: #686f7a;
    text-align: center;
}

.fcrse_2 {
    background: #fff;
    width: 100%;
    float: left;
    padding-right: 120px;
    padding-left: 120px;
    padding-bottom: 50px;
    padding-top: 50px;
    border-radius: 3px;
    border: 1px solid #efefef;
    transition: all 0.2s ease-in-out;
    margin-left: 50px;
    margin-right: 50px;
}

.right_side {
    margin-left: auto;
}

.tutor_img {
    width: 100%;
    float: left;
    padding: 20px;
    text-align: center;
}

.tutor_img img {
    text-align: center;
    width: 100px !important;
    height: 100px !important;
    display: inline-block !important;
    border-radius: 100%;
    border: 2px solid #fff;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.tutor_content_dt {
    text-align: center;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 10px;
}

.tutor150 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tutor_name {
    font-size: 16px;
    font-weight: 800;
    font-family: "Roboto", sans-serif;
    color: #333 !important;
    text-align: center;
    position: relative;
}

.tutor_cate {
    font-size: 13px;
    color: #686f7a;
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-bottom: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tutor_social_links li a {
    font-size: 14px;
    float: left;
    width: 35px;
    height: 36px;
    border-radius: 3px;
    text-align: center;
    padding: 9px 0;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tut1250 {
    font-size: 12px;
    margin-top: 15px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #686f7a;
    text-align: center;
    display: block;
    margin-left: 5px;
}

.mr-20 {
    margin-inline-start: 20px;
}

.col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
}

.col-lg-11 {
    flex: 0 0 auto;
    width: 100%;
}

.owl-carousel .owl-item-student {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    width: 362px;
    margin-right: 20px;
}

.right_side {
    display: flex;
    // margin-left: 10px;
}

.tutor_content_dt {
    text-align: center;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 10px;
}

.tutor150 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fcrse_3 {
    background: #fff;
    width: 100%;
    float: left;
    padding: 0;
    border-radius: 3px;
    margin-bottom: 30px;
    border: 1px solid #efefef;
    transition: all 0.2s ease-in-out;
}

.cater_ttle {
    float: left;
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid #efefef;
}

.mt-50 {
    margin-top: 50px;
}

.fcrse_4 {
    background: #fff;
    width: 100%;
    height: 350px;
    float: left;
    padding: 30px;
    border-radius: 3px;
    border: 1px solid #efefef;
    transition: all 0.2s ease-in-out;
}

.mb-20 {
    margin-bottom: 20px;
}

.say_content {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.say_content p {
    font-size: 14px;
    font-weight: 400;
    font-family: "roboto", sans-serif;
    line-height: 26px;
    color: #686f7a;
    text-align: left;
}

.st_group {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
}

.stud_img {
    text-align: left;
}

.stud_img img {
    text-align: left;
    width: 50px !important;
    height: 50px !important;
    display: inline-block !important;
    border-radius: 100%;
    border: 2px solid #fff;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.st_group h4 {
    font-size: 16px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #333 !important;
    margin-top: 0;
    margin-bottom: 0 !important;
    margin-left: 15px;
}

.fcrse_10 {
    background: #fff;
    width: 88%;
    height: 320px;
    float: left;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #efefef;
    transition: all 0.2s ease-in-out;
    margin-left: 20px;
    margin-right: 5px;
}

.fcrse_100 {
    background: #fff;
    width: 90%;
    height: 320px;
    float: left;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #efefef;
    transition: all 0.2s ease-in-out;
    margin-left: 20px;
    margin-right: 5px;
}

.fcrse_20 {
    background: #fff;
    width: 88%;
    height: 360px;
    float: left;
    border-radius: 3px;
    border: 1px solid #efefef;
    transition: all 0.2s ease-in-out;
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 50px;
}

.fcrse_12 {
    background: #fff;
    width: 78%;
    height: 420px;
    float: left;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #efefef;
    transition: all 0.2s ease-in-out;
    margin-left: 50px;
}

.social_links {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    margin-left: 5px;
}

.tutor_social_links li a {
    font-size: 14px;
    float: left;
    width: 35px;
    height: 36px;
    border-radius: 3px;
    text-align: center;
    padding: 9px 0;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.prfle12link {
    float: left;
    width: 100%;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    color: #333;
}

.font-semibold {
    font-weight: 800;
}

.fcrse_20 h4 {
    font-size: 16px;
    color: #333;
    float: left;
    font-weight: 800;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0;
}

.fcrse_12 h4 {
    font-size: 16px;
    color: #333;
    float: left;
    font-weight: 800;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0;
}

.strttech120 {
    background: #fff;
    width: 78%;
    float: left;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #efefef;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.strttech120 h4 {
    font-size: 18px;
    color: #333;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    margin-bottom: 13px;
}

.strttech120 p {
    font-size: 14px;
    color: #686f7a;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin-bottom: 32px;
    line-height: 26px;
}

.live_text {
    float: left;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.live_icon {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.live_icon img {
    width: 80px;
    height: 80px;
    align-self: center;
}

.live-content {
    float: left;
    width: 100%;
    padding: 0;
    text-align: center;
}

.live-content p {
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    line-height: 26px;
    margin-bottom: 20px;
    color: #686f7a;
}

.live_link {
    height: 40px;
    background: #ed2a26;
    border: 0;
    border-radius: 3px;
    padding: 10px 20px;
    color: #fff;
}

.livinfo {
    font-size: 12px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0;
    margin-top: 15px;
    color: #686f7a;
    display: block;
}

.value_icon img {
    font-size: 36px;
    margin-right: 0;
    color: #333;
    background: #ffecec;
    border-radius: 3px;
    padding: 10px 6px;
    display: inline-block;
    width: 50px;
    height: 50px;
}

.get1452 {
    background: #fff;
    width: 88%;
    float: left;
    padding: 30px;
    border-radius: 3px;
    border: 1px solid #efefef;
    position: relative;
    text-align: left;
    margin-bottom: 30px;
    background-image: url(../../assets/img/get-img.jpg);
    margin-right: 5px;
    margin-left: 20px;
    margin-top: 50px;
}

.get1452 h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    margin-bottom: 13px;
}

.get1452 p {
    font-size: 14px;
    color: #f9f9f9;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin-bottom: 27px;
}

.Get_btn {
    height: 40px;
    padding: 0 20px;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    background: #ed2a26;
    font-size: 14px;
    font-weight: 500;
}

.allcate15 {
    float: left;
    width: 100%;
}

.allcate15 li {
    display: block;
    float: left;
    width: 100%;
}

.ct_item {
    float: left;
    width: 100%;
    padding: 10px 20px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #686f7a;
    text-align: left;
}

.ct_item img {
    margin-right: 10px;
    font-size: 120%;
}
