.create_course_price {
    .price_title {
        padding: 19px 0;
        border-top: 1px solid #efefef;
        border-bottom: 1px solid #efefef;
        display: flex;
        align-items: center;
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        gap: 15px;

        .price_icon {
            font-size: 20px;
        }
    }

    .price_form {
        background: #fff;
        margin-top: 30px;
        padding: 30px;
        border-radius: 3px;
        border: 1px solid #efefef;

        .price_link-list {
            display: flex;
            justify-content: space-between;
        }
        .price_link {
            flex: 1;
            border: 1px solid #efefef;
            font-size: 14px;
            text-align: center;
            font-weight: 500;
            color: #333;
            background: #f7f7f7;
            padding: 12px;

            &.active {
                color: #fff;
                background-color: #ed2a26;
            }
        }
    }
}
