.forgot_password {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    background-color: #f7f7f7;
    height: 100vh;
    z-index: 10;

    &::before {
        content: "";
        background: url(../../assets/img/backgroundLDP.svg) no-repeat center;
        inset: 0;
        position: absolute;
        background-size: cover;
        opacity: 0.04;
        z-index: -1;
    }

    &__logo{
        width: 135px;
        
    }

    &__main {
        // margin-top: 50px;
        // width: 579px;
        // padding: 50px 50px 30px;
        // background-color: #fff;
        // border-radius: 3px;
        // box-shadow: #192a4621 -8px 8px 18px -7px;
        // color: #000000de;
        // font-size: 14px;
        // text-align: center;

        .forgot_password__form {
            margin-top: 50px;
        }

        .forgot_password__wrapper {
            gap: 15px;
            width: 479px;
            border: solid 0.2px #e5e5e5;
            border-radius: 3px;
            padding: 15px 10px 15px 15px;
            display: flex;
            align-items: center;
            input {
                width: 100%;
                outline: none;
                border: none;
                font-size: 14px;
            }
        }

        .forgot_password__wrapper:focus-within {
            border-color: #333;
            .faEnvelope {
                color: #333;
            }
        }

        .forgot_password__btn {
            margin: 30px 0;
            width: 479px;
            background-color: #ed2a26;
        }

        .forgot_password_SignIn {
            a {
                color: #4183c4;
            }
        }
    }

    .forgot_password__footer {
        display: flex;
        align-items: center;
        margin-top: 57px;

        & p {
            margin: 0;
        }
    }
}


