.coming-soon-body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  transform: scale(1);
  transform-origin: center;
}

.coming-soon {
  width: 100%;
  max-width: 1920px;
  max-height: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .logo {
    margin-bottom: 40px;
  }

  .countdown {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 6em;
    margin-bottom: 40px;

    .time {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1em;
      font-weight: bold;

      span {
        font-size: 0.25em;
        margin-top: 10px;
        color: #999;
      }
    }
  }

  .notify-me {
    p {
      margin-top: 30px;
      font-size: 1.5em;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
      height: 30px;
      font-size: 1em;

      input {
        padding: 20px;
        width: 300px;
        border: none;
        border-radius: 10px;
        font-size: 1em;
        margin-right: 20px;
        background: white;
        transition: background 0.3s;

        &:focus {
          outline: none;
          font-weight: bold;
        }
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        font-size: 1em;
        background-color: red;
        border: none;
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s;
      
        &:hover {
          background-color: black;
        }
      }
    }
  }
}