.chat-tab {
    margin-top: 50px;
    background-color: #f8f8f8;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .chatting-header {
        padding: 20px;

        h2 {
            margin-left: 270px;
            font-size: 20px;
        }
    }
}

.chat-app {
    display: flex;
    height: 100%;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
    margin-top: 3px;
    margin-left: 280px;
    margin-right: 45px;
    margin-bottom: 40px;
    transition: margin-left 0.5s ease;

    &.active {
        transition: margin-left 0.5s ease;
        margin-left: 60px;
    }

    .message-list {
        width: 500px;
        background-color: #fff;
        border-right: 1px solid #e0e0e0;

        input {
            width: 95%;
            padding: 9px;
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li.message-item {
                display: flex;
                align-items: center;
                padding: 10px 20px;
                border-bottom: 1px solid #e0e0e0;
                cursor: pointer;
                background-color: #fff;

                &.first {
                    background-color: #ffe3e3;
                }

                &:not(.first):hover {
                    background-color: #f9f9f9;
                }

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 10px;
                }

                .message-info {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;

                    h3 {
                        margin: 0;
                        font-size: 14px;
                        color: #333;
                    }

                    p {
                        margin: 0;
                        font-size: 12px;
                        color: #888;
                    }
                }

                .time-unread-wrapper {
                    display: flex;
                    align-items: center;
                    margin-left: 20px;

                    .time {
                        font-size: 12px;
                        color: #888;
                        margin-right: 10px;
                    }

                    .unread-count {
                        background-color: red;
                        color: #fff;
                        border-radius: 50%;
                        width: 20px;
                        height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .chat-window {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .chat-header {
            display: flex;
            align-items: center;
            padding: 10px 20px;
            background-color: #fff;
            border-bottom: 1px solid #e0e0e0;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 10px;
            }

            .header-content {
                display: flex;
                flex-direction: column;
            }

            h3 {
                margin: 0;
                font-size: 18px;
            }

            .status {
                background-color: rgb(1, 215, 1);
                text-align: center;
                color: #fff;
                padding: 1px 1px;
                border-radius: 5px;
                font-size: 12px;
                font-weight: bold;
            }

            .options-menu {
                position: relative;
                cursor: pointer;
                margin-left: auto;

                .ellipsis {
                    font-size: 20px;
                    color: #888;
                }

                .menu-items {
                    position: absolute;
                    right: 0;
                    background-color: #fff;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    padding: 20px;
                    display: none;
                    z-index: 1;

                    li {
                        list-style: none;
                        padding: 8px 0;
                        cursor: pointer;

                        &:hover {
                            background-color: #ffe3e3;
                        }
                    }
                }

                &:hover {
                    .menu-items {
                        display: block;
                    }
                }
            }
        }

        .chat-messages {
            flex-grow: 1;
            padding: 20px;
            background-color: #fff;
            overflow-y: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                width: 0px;
                background: transparent;
            }

            .chat-message {
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;

                &.own {
                    align-items: flex-end;

                    p {
                        background-color: red;
                        color: #fff;
                        border-radius: 10px 10px 0 10px;
                        padding: 10px;
                    }
                }

                &:not(.own) {
                    align-items: flex-start;

                    p {
                        background-color: #ffe3e3;
                        color: #333;
                        border-radius: 10px 10px 10px 0;
                        padding: 10px;
                    }
                }

                p {
                    margin: 0;
                    max-width: 70%;
                }

                .time {
                    font-size: 12px;
                    color: #888;
                    margin-top: 5px;
                }
            }
        }

        .chat-input {
            display: flex;
            padding: 20px;
            background-color: #fff;
            border-top: 1px solid #e0e0e0;

            input {
                flex-grow: 1;
                padding: 10px;
                border: 1px solid #e0e0e0;
                border-radius: 5px;
            }

            button {
                background-color: red;
                border: none;
                color: #fff;
                padding: 10px 20px;
                margin-left: 10px;
                border-radius: 5px;
                cursor: pointer;
                font-size: 18px;

                &:hover {
                    background-color: black;
                }
            }
        }
    }
}
