.media_html5 {
    margin-top: 34px;

    .media_html_choose_thumb-cta,
    &_upload {
        width: 41.66666667%;
        background: #fff;
        border: 2px dashed #efefef;
        border-radius: 5px;
        text-align: center;
        padding: 30px 20px 17px;

        .choose_thumb-btn [type="file"],
        .upload_video-btn [type="file"] {
            display: none;
        }

        .choose_thumb-btn,
        .upload_video-btn {
            label {
                cursor: pointer;
                display: inline-block;
                outline: none;
                transition: all 0.3s;
                vertical-align: middle;
                margin: 0 0 17px;
                color: #ed2a26;
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 2px 3px 0px rgba(20, 47, 219, 0.11);
                border: 0;
                font-size: 14px;
                font-weight: 500;
                height: 40px;
                padding: 10px 25px;
                border: 1px solid #ed2a26;
                border-radius: 3px;
                text-transform: uppercase;
            }
        }

        .upload_video_desc {
            color: #686f7a;
            line-height: 26px;
        }
    }

    .media_html_choose-thumb {
        margin-top: 30px;

        &-title {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 10px;
            color: #333;
        }

        .html_thum {
            width: 41.66666667%;
        }

        .media_html_choose_thumb-cta {
            border: 2px solid #efefef;
            border-radius: 0;
        }

        .choose-thumb-desc {
            color: #000000de;
            font-size: 14px;
            line-height: 19.999px;
            text-align: center;
        }
    }
}
