.statement{
    margin-top: 60px;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    margin-left: 60px;
    background-color: #f8f9fa;
    transition: all 0.3s ease;
    &.active{
        margin-left: 240px;
    }
    .container-fluid {
        padding-right: 30px !important;
        padding-left: 30px !important;
    }

    .search{
        &-icon {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            pointer-events: none;
            width: 15px;
            height: 15px;
            margin-left: 10px;
            filter: brightness(0);
          }

        &_input{
            height: 40px;
            border-radius: 3px;
            color: #333;
            font-family: Roboto, sans-serif;
            font-size: 14px;
            line-height: 15.7857px;
            padding: 9px 13px 9px 42px;
            text-align: left;
            border: 1px solid #e5e5e5;
            box-sizing: border-box;
            position: relative;
        }
    }
    &_title {
        font-size: 20px;
        margin-top: 0 !important;
        margin-bottom: 8px !important;
        font-weight: 500;
        color: #333;
    }
    &_content {
        padding: 20px 20px 30px;
        float: left;
        width: 100%;
    }
    &-body {
        font-weight: 400 !important;
        font-size: 14px;
        margin-bottom: 15px;
        line-height: 26px;
        color: #686f7a !important;
        text-align: left;
    }
    &_icon{
        width: 15px;
        height: 100%;
        margin: 0 10px;
    }
    &_invoice{
        &_content{
            padding: 30px;
            float: left;
            width: 100%;
            height: 143px;

            .select_month{
                display: flex;
            }
        }
    }
    &_download_btn {
        color: #fff;
        border: 0;
        padding: 0 8px;
        border-radius: 3px;
        margin-left: 10px;
        background: #ed2a26;
        height: 35.8px;
        width: 35.8px;
        box-sizing: border-box;
    }
    &_table{
        margin: 30px 0;
    }
    .t-heading {
        font-weight: 400 !important;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 5px !important;
        line-height: 26px;
        color: #686f7a !important;
        text-align: left;
    }
    .t-currency {
        font-size: 20px;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
        line-height: 24px;
        margin-bottom: 10px !important;
    }
    .tt__earning {
        font-size: 20px;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
        margin-right: 5px;
    }
    .js-earnings__earnings-wrapper {
        color: #82b541;
    }
    .js-earnings__fees-wrapper {
        color: #ed2a26;
    }
}

.more{
    &_options_tt {
        margin-top: 30px;
        padding-left: 0;
        li {
            display: inline-block;
            margin-right: 10px;
            margin-top: 20px;
        }
    }

    &_items {
        font-size: 14px;
        font-weight: 500;
        color: #686f7a;
        height: 40px;
        border: 0;
        border-radius: 3px;
        padding: 0 20px;
        background: #e9e9e9;

        &.activee {
            color: #fff;
            background: #333;
        }
    }
}
.top_countries {
    border-radius: 3px;
    background: #fff;
    // background-color: aqua;
    float: left;
    width: 100%;
    border: 1px solid #efefef;
    margin-top: 30px;

    &_title {
        h2 {
            font-size: 16px;
            font-weight: 500;
            font-family: 'Roboto', sans-serif;
            color: #333;
            border-bottom: 1px solid #efefef;
            padding: 1.2rem 2rem;
            float: left;
            width: 100%;
        }
    }
}
