@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
}

html {
    font-size: 62.5%;
}



a {
    text-decoration: none;
}

.main {
    margin-top: 50px;
    width: 579px;
    padding: 50px 50px 30px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: #192a4621 -8px 8px 18px -7px;
    text-align: center;
}

.button {
    padding: 10px 148px;
    border: none;
    outline: none;
    font-size: 14px;
    color: #fff;
    background-color: #ed2a26;
    border-radius: 3px;
    line-height: 16.1px;

    &:hover {
        cursor: pointer;
        background-color: #333;
    }
}
